header{
    display: flex;
    background-color: deepskyblue;
    justify-content: space-evenly;
    align-items: center;
    height:60px;
    border: 2px;
    border-radius: 10px;
    border-color: deepskyblue;
    position: sticky;
    top:0px
    
}
nav ul{
    display: flex;
    margin-right: 10px;
    list-style: none;
    gap: 50px;
    margin-left: 200px;
}
nav ul li{
    margin: 0;
}
.downbar {
      width: 100px;
      height:5px;        
      background-color: black; 
      margin-top: 20px; 
}
select {
      width:80px;
      /* height: 60px; */
      background-color:deepskyblue;
      border-color: deepskyblue;
      cursor: pointer;
    }
    .width{
        width:2px;
    }
    p{
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     margin-right: 100px;
     font-size: 20px;
     line-height: 30px;
     
    }
   .img{
    display: flex;
    justify-content: center;
    margin-right: 200px;
    margin-left:200px;
    align-items: center;
   }
   h1{
    font-size: 60px;
    margin-top: 100px;
   }
   .search{
    margin-right: 350px;
   }
   .wave{
    height: 300px;
    width: 300px;
    margin-bottom: 100px;
    background-color: lightblue;
    
   }
   .text-overlay {
  position: absolute;
  top: 610px; 
   left: 670px; 
  color:black;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.picture1{
    display: flex;
    justify-content:space-evenly;
    gap: 100px;
position: absolute;
top: 680px; 
   left: 300px; 
  color:black;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);

}
.dog{
    font-size: 40px;
    /* margin-top: -100px; */
}
a{
    font-size: 25px;
}
h3{
    font-size:25px ;
}
.flex{
    display: flex;
    justify-content: center;

}
.whole{
   margin-left:150px;
   margin-right: 150px;
  
}
#pic1{
    display: flex;
    justify-content:center;
    gap: 20px;
   
}
#pic2{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#pic3{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.font{
    font-size: 18px;
    line-height: 40px;
}
.para{
    /* margin-top: -150px; */
    font-size: 10px;
    line-height: 10px;
}
.img1{
    margin-top: 40px;

}
.img2{
    margin-top:50px;
    
}
.img3{
 margin-top: 50px;   
}
.family{
    display: flex;
    margin-left:450px;
    margin-right: 400px;
    justify-content: center;
    margin-top: -100px;
   

}
span{
    margin-left: 170px;
}
.size{
    font-size: 45px;
}
input{
   
    margin-left: 200px;
    /* margin-right: 100px; */
    height:30px;

}
.contact{
    
    padding-top: 30px;
    padding-bottom: 30px;
}
body{
    background-color: lightblue;
}
button{
    background-color: orange;
    height: 50px;
    margin-left: 195px;
}
.image{
    display: flex;
     justify-content: space-evenly;   
   

}
.dog1{
    margin-bottom: 50px;
    border: 2px;
    border-radius:10px;
    border-color: deepskyblue;
    padding-bottom: 10px;
    background-color: white;

}
.dog2{
    margin-bottom: 50px;
    border: 2px;
    border-radius:10px;
    border-color: deepskyblue;
    padding-bottom: 10px;
    background-color: white;

}
.dog3{
    margin-bottom: 50px;
    border: 2px;
    border-radius:10px;
    border-color: deepskyblue;
    padding-bottom: 10px;
    background-color: white;

}
.dog4{
    margin-bottom: 50px;
    border: 2px;
    border-radius:10px;
    border-color: deepskyblue;
    padding-bottom: 10px;
    background-color: white;

}
.dog5{
    margin-bottom: 50px;
    border: 2px;
    border-radius:10px;
    border-color: deepskyblue;
    padding-bottom: 10px;
    background-color: white;

}
.dog6{
    margin-bottom: 50px;
    border: 2px;
    border-radius:10px;
    border-color: deepskyblue;
    padding-bottom: 10px;
    background-color: white;

}
.care{
    margin-left: 100px;
}
.footer{
    display: flex;
    justify-content: end;
    align-content: start;
    background-color: deepskyblue;
    font-size: 20px;
    padding-top:20px;
    height: 70px;
    gap: 50px;
}